<html>
    <head>

		<link href="style.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
<h1>Ajouter un nouveau fournisseur</h1>
<form id="form1" method="post">
	<table>
		<tr>
			<td> id_fourni : </td>
			<td>
				<input type="text" id="id_fourni" name="id_fourni" 
                >
				
			</td>
		</tr>
		<tr>
			<td>numero  : </td>
			<td>
				<input type="text" id="numero" name="numero" >
				
				
			</td>
		</tr>
		<tr>
			<td>email : </td>
			<td>
				<input type="text" id="email" name="email" >
				
			
			</td>
		</tr>
		
		<tr>
			<td>nom_prd : </td>
			<td>
				<input type="text" id="nom_prd" name="nom_prd" >
				
			
			</td>
		</tr>
		
		
		<tr><td colspan='2'><input type="submit" value="Ajouter" /></td></tr>
	</table>
</form>
</body>
</html>