<html>
	<head>
		<title></title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
			
		<div id="wrap">
			<div id="header">
				<h1>Géstion des Stocks</h1>
			</div>

			<img src="noob.png" alt="votre photo de stock" width="100%" height="42%">

			<div id="content">
				<div id="Menu">
					<h3>Menu</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><h3> Stocks</h3></li></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
						<li><h3>Fournisseurs</h3></li>
					</ul>
				</div>
				<div id="main">
							
		
		
<h1>Listes de Produits de stock</h1>
<table>
	<tr>
		<th>N°</th><th>code</th>
		
		<th>Quantité</th><th>designation</th>
		<th>id_fourni</th><th>Quantité-maj</th>
	</tr>
	<tr>
				 </tr></table>
<a href="ajouterstock.html">Ajouter un nouveau produit au stock</a>
<br>
<a href="gererstock.html">modifier produit</a>
<br>
<a href="supprimerstock.html">supprimer produit</a>

				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<div id="main">
							
		
		
			      <h1>Listes de Fournisseur de stock</h1>
			<table>
				<tr>
					<th>N°</th><th>id_fourni</th>
					
					<th>numero</th><th>email</th>
					<th>nom_prd</th>
				</tr>
				
							 
							 </tr></table>
			<a href="ajouterfournisseur.html">Ajouter un nouveau fourniseur au stock</a>
			<br>
			<a href="supprimerfournisseur.html">supprimer fourniseur</a>
							</div>
							
	</body>
</html>